[class^=parrafo]
body
{
	
    background-color:rgb(9, 225, 253);	
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15 cm;
    text-align: center;
}

nav
{
    background-color:rgb(220, 230, 173);
	width:200px;
	height:200px;
border: 8px solid red;
margin: 0 auto;
border-radius: 10%;
box-shadow:15px 10px 10px 0 rgb(255, 0, 98);

}
.parrafo1
{
    background-color:rgb(173, 221, 230);
	width:400px;
border: 8px solid rgb(17, 17, 17);

}
main
{
    background-color:rgb(0, 255, 255);


}

